<!DOCTYPE html>
<html>
<head>   
    <title>Calorie Tracker</title>    
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=1024px, height=748px, minimum-scale=0.25, maximum-scale=1.0" />
	
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
    <link href="{{ STATIC_URL }}css/general.css" rel="stylesheet" type="text/css" media="all" />
	
    <style>
        body { min-width: 1200px; height: 100%; margin: 0 auto; font-family: Arial;}
        h1 { display: block; height: 82px; width: 100%; text-align: center;}
		a {color: black;}
        .error { background: transparent; color: black; font-size: 20px; text-align: center; }
    </style>
    
</head>
    <body>
        <h1><a href="/">Calorie Tracker</a></h1>
        <div class="error">Sorry, page not found.</div>
        <div class="error">404 error</div>
    </body>
</html>
